<h1>Hello, Albuquerque!</h1>
<p>Hello, Albuquerque! is an innovative application working in conjunction with Google Maps. This application grants individuals visiting in or living in the Albuquerque, New Mexico area the chance to both view and comment on all official city data. 

By simply logging into the application, users are allowed to view any Albuquerque park, bike path, open space, public art, city limit, transit route, neighboorhood, police beat, and even any Albuquerque Fema exemption by selecting the appropriate route from the side menu. Users may also enter their own data set from the many more available data sets at: http://www.cabq.gov/abq-data. 

No computer access? No problem! Hello, Albuquerque! is also available as a mobile application. Utilizing the mobile application allows for every major functionality that the browser application does! The mobile application also allows the user to submit a photo of the atttraction they wish to comment on.   

Comments can be added to each location on the provided map and will allow both residents and non-residents of Albuquerque to become more knowledgable about their location. Helpful comments include information about graffitti in a particular park, construction near a particular bike path, etc... So sign up today and say hello to Albuquerque by commenting on what you like or do not like about an Albuquerque attraction near you!
</p>
