<h1> Looking Towards the Future with Hello, Albuquerque!</h1>

<p>
	The hope with the Hello, Albuquerque! application is to provide a more efficient and prompt way of reporting city issues to the appropriate Albuquerque officials. The public voice is a  strong tool that with this application can work together with city officials to maintain the good nature of Albuquerque. Filtering and reporting the important issues will also allow be a goals for this application. We're looking ahead and we're saying hello to an improved Albuquerque! 
</p>
