<div class="container">

	<div class="span12">
		<p>Getting Started with Hello, Albuquerque! It's Easy!</p>
	</div>
	
	<div class="row">
    	<div class="span4">
    		<div class="hero-unit2">
    			<h3>For Browser Capability:</h3>
    			<p>	1. Login or Sign Up to the application.
	                2. Check any of the available data sets on the side or add your own from http://www.cabq.gov/abq-data.
	                3. Click on a marker to view listed information on that specific Albuquerque attraction. 
	                4. To comment on an attraction, click on the Annotations tab at the top of the page.
	                5. Add indicated information.
	                6. You're done! 
	            </p>
    		</div>
    	</div>
	<div class="span4">
    		<div class="hero-unit2">
    			<h3>For Mobile Capability:</h3>
    			<p>1. Take a picture of the issue or great attribute of an Albuquerque attraction.
	               2. Click on the provided logo located on your mobile phone. You should see a screen which allows you to enter a title, description, and picture capability.
	               3. Select the picture you have taken in step 1 and press submit to send the data.
	               4. You're done!
	            </p>
    		</div>
    	</div>
    </div>

</div>
